.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.advantages__list {
  list-style: none;
  background-color: var(--basic-grey);
}

.advantages__item {
  padding: 0;
  margin: 0;

  &--4 {
    display: none;
  }
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  color: var(--basic-blue-dark);
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
  }

  .advantages__item {
    grid-column: 2/-1;

    &--4 {
      display: block;
      padding-left: 310px;
    }

    &--full-screen {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  .advantages__link {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-red);
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 110px;
  }

  .advantages__item {
    padding: 0 35px;
    text-align: center;

    &--1 {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &--2 {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    &--3 {
      grid-column-start: 3;
      grid-column-end: 4;
    }

    &--full-screen {
      text-align: left;
      padding-left: 350px;
    }
  }

  .advantages__link {
    font-size: 18px;
    line-height: 30px;
  }
}
