.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.advantages__block-2 {
  background-color: var(--basic-grey);
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__item {
  padding: 0;
  margin: 0;
}

.advantages__item:last-child {
  display: none;
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  color: var(--basic-blue-dark);
}
