.app-download {
  min-height: 782px;
  color: var(--basic-white);
  background-color: var(--basic-blue-darken);
  background-image: url("../img/background-town-hand.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.app-download__link {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;

  &_default {
    width: 280px;
    height: 56px;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    color: var(--basic-white);
    text-align: center;
    border: 3px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 30px;
    padding: 16px;

    &:hover,
    &:focus {
      color: var(--basic-red);
      background-color: var(--basic-white);
    }

    &:active {
      color: var(--special-red-opacity);
    }
  }
}

.app-download__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

.app-download__availability {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}
