.button {
  font-weight: 700;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  padding: 0;
}

.button--form {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green);
  padding: 22px;

  &:hover,
  &:focus {
    background-color: var(--basic-green-dark);
  }

  &:active {
    background-color: var(--basic-green-dark);
    color: var(--special-white-opacity);
    outline: transparent;
  }

  &:disabled {
    background-color: var(--basic-grey);
  }
}

// .button--hamburger {
//   display: none;
// }
