.card {
  list-style: none;
  color: var(--basic-blue-dark);
}

.card__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.card__img-panorama {
  width: 100%;
}

.card__img {
  width: 280px;
  height: 180px;
  object-fit: contain;
}

.card__content {
  background-color: var(--basic-grey);
  text-align: left;
  padding: 25px 0 25px 17px;
  margin: 0 20px;
}

.card__author {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.card__info {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.card__text {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.card__like-count {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-red);
  padding: 0;
  margin: 0;
}
