.catalog-add {
  background-color: var(--basic-grey);
  padding-bottom: 40px;
}

.catalog-add__photo {
  margin-bottom: 40px;
}

.catalog-add__img {
  width: 280px;
  height: 374px;
  object-fit: contain;
  margin: 0;
  background-color: var(--basic-blue-dark);
}

@media (min-width: @tablet-width) {
  .catalog-add {
    padding: 55px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 20px;
    margin: 0 auto;
    outline: 1px dotted black;
  }

  .catalog-add__photo {
    height: min-content;
    margin-bottom: 0;
  }

  .catalog-add__img {
    width: 300px;
    height: 400px;
    object-fit: contain;
  }

  .catalog-add__range {
    grid-column: ~"2/-1";
  }
}

@media (min-width: @desktop-width) {
  .catalog-add {
    width: 940px;
    grid-template-columns: 300px 410px;
    grid-gap: 0 90px;
    padding-left: 80px;
    padding-right: 60px;
  }
}
