.competition {
  min-height: 235px;
  background-color: var(--basic-blue-darken);
  background-image: url("../img/back-town.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.competition__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: var(--basic-white);
  text-align: center;
  padding: 0;
  margin: 0;
}
