.contacts__us {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: var(--basic-blue-dark);
}

.contacts__item {
  margin-bottom: 30px;
}

.contacts__caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--basic-blue-dark);
  padding: 0;
  margin: 0;
}

.contacts__info {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: var(--basic-red);
  text-decoration: none;
  padding: 0;
  margin: 0;
}
