.fieldset {
  border: none;
  display: flex;
  flex-direction: column;

  &--user-name {
    padding-top: 40px;
    padding-bottom: 20px;

    .fieldset__input {
      min-width: 330px;
    }
  }

  &--user-contacts {
    padding-top: 34px;
    padding-bottom: 20px;
  }

  &--user-progress,
  &--user-platform {
    background-color: var(--basic-grey);
    padding-top: 40px;
    padding-bottom: 0;
  }

  &--user-message {
    padding-top: 40px;
  }

  &--wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fieldset__legend {
  width: 100%;
  position: relative;
  align-self: center;
  text-align: center;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-red);
  padding: 0;
  margin: 0;
  background-color: var(--basic-grey);
  padding-bottom: 40px;
}

.fieldset__label {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-red);
  text-align: left;
  padding: 0;
  margin: 0;
}

.fieldset--user-name,
.fieldset--user-contacts {
  .fieldset__brick {
    padding: 0;
    margin: 0 0 22px 0;
  }

  .fieldset__label {
    padding-left: 23px;
    padding-bottom: 12px;
  }
}

.fieldset--user-contacts .fieldset__legend {
  display: none;
}

.fieldset--user-message .fieldset__legend {
  background-color: var(--basic-white);
  padding-bottom: 16px;
}

.fieldset__input {
  width: 100%;
  height: 63px;
  font-family: @font-family-basic;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  border: 2px solid var(--basic-grey-dark);
  border-radius: 3px;
  padding: 0 0 0 20px;
  margin: 0;

  &::placeholder {
    font-family: @font-family-basic;
    font-weight: inherit;
    font-style: inherit;
    font-size: 18px;
    line-height: 60px;
    color: var(--basic-blue-dark);
    margin: 0;
    opacity: 1;
  }

  &:hover {
    border-color: var(--basic-blue-dark);
  }

  &:focus {
    border-color: var(--basic-red);
    outline: var(--basic-red);
  }

  &--textarea {
    height: 200px;
    resize: none; /* Disables resizability */
    padding: 12px 16px 22px 18px;

    &::placeholder {
      line-height: 30px;
    }
  }
}

.fieldset__list {
  list-style: none;
  padding: 0 20px 0 10px; //вместо wrapper, потому что заморочка с background-color .fieldset__legend
  margin: 0;
}

.fieldset__item {
  padding: 0;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .fieldset__legend {
    width: initial;
    background-color: var(--basic-white);
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 50px;
    margin-top: -10px;

    br {
      display: none;
    }
  }

  .fieldset {
    border: 2px solid var(--basic-grey);
    background-color: var(--basic-white);

    &--user-progress {
      padding-top: 0;
      padding-bottom: 0;

      .fieldset__legend {
        padding-bottom: 47px;
      }
    }

    &--user-platform {
      padding-top: 0;
      padding-bottom: 14px;
    }

    &--wrapper {
      padding: 0;
    }
  }

  .fieldset--user-contacts .fieldset__legend {
    display: block;
    padding-bottom: 35px;
  }

  .fieldset__list {
    padding-left: 45px;
  }

  .fieldset--user-name {
    border: none;

    .fieldset__brick {
      height: 59px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: baseline;
      margin-bottom: 55px;
    }

    .fieldset__label {
      padding-left: 0;
    }

    .fieldset__input {
      margin-left: 20px;
    }
  }

  .fieldset--user-contacts {
    .fieldset__brick {
      padding-left: 56px;
      padding-right: 56px;
    }
  }

  .fieldset__brick--tel,
  .fieldset__brick--email {
    display: flex;
    flex-direction: column-reverse;

    .fieldset__label {
      position: relative;
      padding-left: 17px;

      &::after {
        position: absolute;
        content: "";
        width: 59px;
        height: 59px;
        top: -78px;
        right: 2px;
        background-color: var(--basic-grey-dark);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
      }
    }

    .fieldset__input {
      width: initial;
      margin: 0 0 17px 0;
      padding-right: 59px;
    }
  }

  .fieldset__brick--tel .fieldset__label::after {
    background-image: url("../img/icon-phone.svg");
  }

  .fieldset__brick--email .fieldset__label::after {
    background-image: url("../img/icon-mail.svg");
  }

  .fieldset__input--textarea {
    width: initial;
    height: 193px;
    padding-top: 16px;
    padding-left: 25px;
    margin: 20px 53px 53px 50px;
  }
}

@media (min-width: @desktop-width) {
  .fieldset__list--desktop-order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 0;
    padding-left: 0;

    .fieldset__item {
      width: 303px;
      padding-left: 47px;
    }

    & :nth-of-type(1) {
      order: 1;
    }

    & :nth-of-type(2) {
      order: 4;
    }

    & :nth-of-type(3) {
      order: 2;
      padding-left: 57px;
    }

    & :nth-of-type(4) {
      order: 5;
      padding-left: 57px;
    }

    & :nth-of-type(5) {
      order: 3;
    }

    & :nth-of-type(6) {
      order: 6;
    }
  }

  .fieldset {
    &--user-name {
      .fieldset__brick {
        margin-bottom: 57px;
      }

      .fieldset__brick:last-of-type {
        margin-bottom: 0;
      }

      .fieldset__input {
        margin-left: 17px;
      }
    }

    &--user-platform {
      .fieldset__list {
        padding-left: 63px;
      }

      .fieldset__legend {
        padding-bottom: 48px;
      }
    }

    &--user-progress {
      padding-bottom: 8px;

      .fieldset__legend {
        padding-bottom: 45px;
      }
    }

    &--user-contacts {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-right: 60px;

      .fieldset__brick {
        flex-grow: 1;
        padding-right: 0;
        padding-left: 60px;
        margin-bottom: 0;
      }

      .fieldset__legend {
        margin-left: 336px; //justefy-self: center; не хочет работать
        margin-right: 200px;
        padding-bottom: 33px;
      }

      .fieldset__label {
        padding-bottom: 18px;
      }
    }
  }

  .fieldset__input--textarea {
    height: 125px;
    padding-top: 11px;
    margin-bottom: 40px;
  }
}
