.intro__text {
  font-size: 14px;
  line-height: 30px;
  color: var(--basic-blue-dark);
  padding: 54px 0;
  margin: 0;

  & br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .intro__text {
    font-size: 18px;
    padding: 85px 0;
  }
}

@media (min-width: @desktop-width) {
  .intro__text {
    padding: 95px 0;

    & br {
      display: block;
    }
  }
}
