.logo__link {
  display: block;
  padding: 23px 20px;
  margin: 0;

  &_header {
    text-align: left;
    box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }

  &_footer {
    text-align: center;
  }
}

.logo__link:hover path,
.logo__link:focus path {
  fill: var(--basic-red);
}

.logo__link:active path {
  opacity: 0.3;
}

.logo__link_disabled {
  pointer-events: none;
}
