.logo__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 23px 20px;
  margin: 0;

  &--footer {
    text-align: center;
  }

  &--disabled {
    pointer-events: none;
  }

  &:hover:not(:active) path,
  &:focus:not(:active) path {
    fill: var(--basic-red);
  }

  &:active path {
    opacity: 0.3;
  }
}

.logo__link--header .logo__img--tablet,
.logo__link--header .logo__img--desktop,
.logo__link--footer .logo__img--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .logo__link--header {
    padding-top: 30px;

    & .logo__img--mobile {
      display: none;
    }

    & .logo__img--tablet {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .logo__link--header {
    & .logo__img--tablet {
      display: none;
    }

    & .logo__img--desktop {
      display: block;
    }
  }

  .logo__link--footer {
    & .logo__img--mobile {
      display: none;
    }

    & .logo__img--desktop {
      display: block;
    }
  }
}
