.logo__link {
  display: block;
  padding: 23px 20px;
  margin: 0;

  &_header {
    text-align: left;
    box-shadow: inset 0 -1px 0 var(--basic-black);
  }

  &_footer {
    text-align: center;
  }

  &_disabled {
    pointer-events: none;
  }

  &:hover:not(:active) path,
  &:focus:not(:active) path {
    fill: var(--basic-red);
  }

  &:active path {
    opacity: 0.3;
  }
}
