.main-footer {
  outline: 5px solid purple;
  outline-offset: -5px;
  padding: 40px 0;
}

.main-footer__developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-footer__developer-text {
  display: inline;
  margin-right: 15px;
}

.main-footer__developer-link {
  padding: 0;
  margin: 0;
  fill: var(--basic-red);

  &:hover path,
  &:focus path {
    fill: var(--basic-black);
  }

  &:active path {
    fill: var(--special-black-opacity);
  }
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
