.main-footer {
  outline: 5px solid purple;
  outline-offset: -5px;
  padding: 40px 0;
}

.main-footer__developer-text {
  display: inline;
}

.main-footer__developer-link {
  padding: 0;
  margin: 0;
}

.main-footer__developer-link:hover path,
.main-footer__developer-link:focus path {
  fill: var(--basic-black);
}

.main-footer__developer-link:active path {
  fill: var(--special-black-opacity);
}
