.map {
  min-width: 320px;
  min-height: 200px;
  background-color: var(--basic-grey);
  background-image: url("/img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
