.page-main {
  margin-top: -62px;
}

.page-main__slogan {
  outline: 1px solid purple;
  outline-offset: -1px;
  font-size: 14px;
  line-height: 30px;
  color: var(--basic-blue-dark);
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-main__slogan p {
  padding: 0;
  margin: 0;
}

.page-main__catalog-add {
  padding: 20px 0 40px 0;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-main {
    margin-top: -110px;
  }
}
