.page-main {
  outline: 5px solid green;
  outline-offset: -5px;
}

.page-main__slogan {
  font-size: 14px;
  line-height: 30px;
  color: var(--basic-blue-dark);
}

.page-main__slogan p {
  padding: 0;
  margin: 0;
}

.page-main__catalog-add {
  padding: 20px 0 40px 0;
}
