.price {
  display: flex;
  background-image: url("../img/background-grey-mobile.svg");
  background-position: center top -41px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 24px 0;
}

.price__wrapper {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
  flex-grow: 1;
}

.price__table {
  border-collapse: collapse;
  text-transform: uppercase;
  box-sizing: border-box;
  table-layout: fixed;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  & th:not(:first-child),
  & td {
    width: 276px;
    border: 2px solid var(--basic-grey-dark);
    box-sizing: border-box;
  }

  & td {
    background-color: var(--basic-white);
  }
}

.price__tariffs-name--bestseller {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 74px;
    top: 0;
    left: -2px;
    background-image: url("../img/bestseller.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
}

.price__tariffs-empty {
  background-color: var(--basic-grey);
}

.price__tariffs-name {
  height: 100px;
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.price__tariffs-cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price__spec-name {
  text-align: left;
  padding-left: 15px;

  &--repeat {
    padding-left: 17px;
  }
}

.price__spec-name,
.price__spec-bool {
  position: relative;
  height: 60px;
  font-size: 14px;
  line-height: 30px;
  color: var(--basic-blue-dark);
  text-align: left;
}

.price__spec-bool::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.price__spec-bool {
  &--true::after {
    width: 31px;
    height: 21px;
    top: 18px;
    right: 16px;
    background-image: url("../img/char-yes.svg");
  }

  &--false::after {
    width: 27px;
    height: 27px;
    top: 16px;
    right: 20px;
    background-image: url("../img/char-no.svg");
  }
}

.price__toggles {
  margin-top: 33px;
  padding-left: 10px;
}

@media (min-width: @tablet-width) {
  .price {
    display: block;
    background-image: url("../img/background-grey-tablet.svg");
    background-position: center top -18px;
    padding-bottom: 72px;
  }

  .price__wrapper {
    padding: 0 20px;
    min-width: 620px;
    width: initial;
    flex-grow: 0;
  }

  .price__table {
    table-layout: initial;
    width: initial;
    position: initial;
    left: initial;
    transform: initial;
    margin: 0 auto;

    & th:not(:first-child),
    & td {
      min-width: 155px;
      box-sizing: border-box;
    }
  }

  .price__tariffs-name {
    height: 81px;
    padding-left: 5px;
    padding-top: 5px;
  }

  .price__spec-name,
  .price__spec-bool {
    height: 45px;
    text-transform: none;

    &--repeat {
      display: none;
    }
  }

  .price__spec-bool::after {
    top: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .price__tariffs-name--bestseller::before {
    width: 58px;
    height: 61px;
    top: 0;
    left: 1px;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price {
    background-position: center top -42px;
    padding-top: 154px;
    padding-bottom: 97px;
  }

  .price__wrapper {
    width: 940px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .price__table {
    & th:not(:first-child),
    & td {
      width: 235px;
    }
  }

  .price__tariffs-name {
    font-size: 18px;
    height: 99px;
  }

  .price__tariffs-cost {
    font-size: 24px;
  }

  .price__spec-name,
  .price__spec-bool {
    height: 60px;
    font-size: 18px;
  }

  .price__tariffs-name--bestseller::before {
    width: 74px;
    height: 74px;
  }
}
