.price {
  background-color: var(--basic-grey);
  padding: 100px 0 50px 0;
}

.price__table {
  border-collapse: collapse;
  border: 2px solid var(--basic-grey-dark);
  background-color: var(--basic-white);
  text-transform: uppercase;
  margin-left: -539px;
  margin-right: -261px;
}

.price__tariffs-empty {
  border: none;
  background-color: var(--basic-grey);
}

.price__tariffs-name {
  width: 276px;
  height: 94px;
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.price__tariffs-cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price__spec-name,
.price__spec-bool {
  width: 276px;
  height: 60px;
  font-size: 14px;
  line-height: 30px;
  color: var(--basic-blue-dark);
}

@media (min-width: @tablet-width) {
  .price__table {
    margin: 0 auto;
  }

  .price__tariffs-name {
    width: 153px;
  }

  .price__spec-name,
  .price__spec-bool {
    width: 153px;
    height: 45px;
    text-transform: none;
  }

  .price__wrapper {
    padding: 0 20px;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price__tariffs-name {
    width: 235px;
    height: 94px;
    font-size: 18px;
  }

  .price__spec-name,
  .price__spec-bool {
    width: 235px;
    height: 60px;
    font-size: 18px;
  }

  .price__wrapper {
    padding: 0 20px;
  }
}
