.promo {
  background-color: var(--basic-grey);
  background-image: url("../img/back-town.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: var(--basic-white);
  padding: 64px 0;
}
