.range {
  max-width: 280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.range__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 70px;
  padding-left: 37px;
}

.range__label {
  margin: 13px 35px 0 0;
}

.range__label::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: var(--special-blue-light-opacity);
  bottom: 2px;
  left: -21px;
}

.range__label--fill::after,
.range__label--contrast::after {
  display: none;
}

.range__img {
  fill: var(--basic-blue-dark);
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &--active {
    fill: var(--basic-red);
    opacity: 1;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.range__label-button {
  width: 44px;
  height: 44px;
  background-color: transparent;
}

.range__toggle {
  display: none;
  appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  min-width: 240px;
  height: 2px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: inset 1px 2px 1px #000000;
  position: absolute;
  bottom: 35px;
  left: 18px;

  &--crop {
    display: block;
  }
}

.range__toggle::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
.range__toggle::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid var(--basic-red);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;

  &:active {
    background-color: var(--basic-red);
  }
}

/* All the same stuff for Firefox */
.range__toggle::-moz-range-thumb {
  border: 2px solid var(--basic-red);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;

  &:active {
    background-color: var(--basic-red);
  }
}

.range__add-button {
  width: 280px;
  height: 56px;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  border: 3px solid;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 16px;

  &--post {
    color: var(--basic-red);
    border-color: var(--basic-red);
    margin-bottom: 12px;

    &:hover,
    &:focus {
      color: var(--basic-white);
      background-color: var(--basic-red);
    }

    &:active {
      color: var(--special-white-opacity);
    }
  }

  &--repeal {
    color: var(--special-blue-light-opacity);
    border-color: var(--special-blue-light-opacity);

    &:hover,
    &:focus {
      color: var(--special-blue-opacity);
      border-color: var(--special-blue-opacity);
    }

    &:active {
      color: var(--special-white-opacity);
      background-color: var(--special-blue-opacity);
      border-color: transparent;
    }
  }
}

.range__bottom {
  margin-top: 36px;
}

@media (min-width: @tablet-width) {
  .range {
    max-width: initial;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
  }

  .range__top {
    flex-direction: column;
    padding: 0;
  }

  .range__label {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 0 28px 0;

    &::after {
      display: initial;
      width: 275px;
      bottom: -12px;
      left: 6px;
    }
  }

  .range__label-button {
    margin-right: 15px;
  }

  .range__img {
    fill: var(--basic-red);
    opacity: 1;

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  .range__toggle {
    min-width: 202px;
    bottom: 21px;
    left: 59px;

    &--fill,
    &--contrast {
      display: block;
    }
  }

  .range__add-button {
    width: 260px;
    margin-left: 8px;
  }

  .range__add-button--post {
    margin-bottom: 23px;
  }

  .range__bottom {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .range {
    position: relative;
  }

  .range__toggle {
    width: 288px;
    bottom: 23px;
    left: 89px;
  }

  .range__img {
    width: initial;
    height: initial;
  }

  .range__label-button {
    margin-right: 48px;
  }

  .range__label::after {
    width: 410px;
    left: 0;
  }

  .range__bottom {
    margin-top: 117px;
    flex-direction: row;
    flex-wrap: wrap;

    & :nth-child(odd) {
      margin-right: 43px;
    }
  }

  .range__add-button {
    width: 183px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
