.slider {
  position: relative;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  padding: 0;
  margin-right: 20px;
  background-color: var(--special-blue-opacity);

  &--current {
    background-color: var(--basic-white);
    box-shadow: 0 0 0 4px var(--basic-blue-darken);
  }
}

.slider__direction {
  display: none;
}

@media (min-width: @desktop-width) {
  .slider__direction {
    display: block;
    position: absolute;
    width: 22px;
    height: 41px;
    top: 250px;
    background-color: transparent;
    background-image: url("../img/arrow-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--prev {
      left: 150px;
    }

    &--next {
      transform: rotate(180deg);
      right: 150px;
    }
  }
}
