.socials__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.socials__item {
  padding: 0;
  margin: 0 14px 0 0;
}

.socials__link {
  text-decoration: none;
  stroke-opacity: 0.1;

  &:hover,
  &:focus {
    stroke-opacity: 1;
    opacity: 1;
  }

  &:active {
    stroke-opacity: 0.3;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .socials__item {
    margin-right: 11px;
  }
}
