.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  outline: 1px dotted var(--basic-red);
  outline-offset: -1px;
}

@media (min-width: @desktop-width) {
  .wrapper {
    max-width: @desktop-width;
    padding: 0 130px;
  }
}
